@{
    ViewData["Title"] = "About";
}

<h2>About Lifting Weights</h2>

<p>Lifting weights can help build muscle, endurance, and is one of the best methods for depression and anxiety reduction.</p>

<p>This project is based on our shared interest in fitness and strength training.</p>