@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to our Lifting App</h1>

<p>This app is designed for tracking workouts and exercises.</p>

<p>I enjoy lifting and wanted to build a simple app to help organize workouts.</p>